button{
    width: 24%;
    height: 40px;
    
    margin: 1px;

    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    
    color:white;
    background-color: rgb(53, 38, 38);
    overflow: hidden;
    outline: none;


}

button:hover{
    transform: .5s;
    opacity: .5;
    cursor: pointer;
}

button:active{
   background-color: rgb(41, 31, 31);
   opacity: 1;
   transition: 0.1s;


}

.bigButton{
    width: 48.3%;
}



