.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 97%;
    margin: 5px auto;
    height: 30%;
    background-color: rgb(43, 36, 36);
}

.display {
    
    display: flex;
    flex-direction: column;
    text-align: left;
    
    width: 100%;
    
    padding:10px;
    padding-left: 10px;
    color: white;
    
    overflow: hidden;   
}


.title{
    font-size: 1rem;
    font-weight: 200;
    
}


.result h1{
    text-align: end;
    margin-top: 10px;
    font-size: 5vh;
}

.result h2{
    
    text-align: end;
    font-size: 2.9vw;
    color:gray;
    font-weight: 200;
}

.calc-description{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 5px;

}


@media only screen and (min-width:768px){

    .result h2{
        font-size: 2.2vw;

    }

}

